<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ColorEducation</title>
  <link rel="stylesheet" href="style.css" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&display=swap');

    body {
      font-family: 'Bricolage Grotesque', sans-serif;
    }
  </style>
</head>

<body style="font-family: 'Bricolage Grotesque',monospace;">
  <%- include('navbar') %>
    <div></div>
    <div></div>
    <section id="intro" style="    background-color: #191d36;
    ">
      <h1>Free Skills</h1>
      <h1>Get Certified</h1>
      <h1>Study With Vibe Match Community</h1>
      <h4>Not a Single penny will be used for learning</h4>
      <h4>Free Learning !!!</h4>
    </section>



    <section id="about">
      <div id="img">
        <img src="./images/teamwork-3213924_640.jpg" alt="" />
      </div>
      <div id="ab">
        <h1>About Us</h1>
        <ul style="list-style-type: square">
          <li>
            We believe that everyone, irrespective of their college or branch,
            technical or non-technical background can make it big.
          </li>
          <li>
            Get expert guidance with career, Open Source, and internships, jobs
            around the world.
          </li>
          <li>Get placed in your Dream Company.</li>
        </ul>
      </div>
    </section>




    <section id="doubt">
      <h1>Doubt?</h1>
      <div class="container">
        <div class="box">
          <img src="./Icons/multiple-users-silhouette.png" alt="" />
          <h3>10K+</h3>
          <h5>Members</h5>
        </div>
        <div class="box">
          <img src="./Icons/scroll.png" alt="" />
          <h3>20K+</h3>
          <h5>Students Placed</h5>
        </div>
        <div class="box">
          <img src="./Icons/save-money.png" alt="" />
          <h3>100K+</h3>
          <h5>Student's Money Saved</h5>
        </div>
      </div>
    </section>




    <section id="companies">
      <h1>Companies Where Our Students Are Working</h1>
      <div id="pan">
        <div class="panel">
          <img src="./Icons/social.png" alt="" />
        </div>
        <div class="panel">
          <img src="./Icons/meta.png" alt="" />
        </div>
        <div class="panel">
          <img src="./Icons/microsoft.png" alt="" />
        </div>
        <div class="panel">
          <img src="./Icons/logo.png" alt="" />
        </div>
        <div class="panel">
          <img src="./Icons/netflix.png" alt="" />
        </div>
      </div>
    </section>




    <section id="courses">
      <div id="co">
        <h1>Courses</h1>
        <ul style="list-style-type: square">
          <li>All courses are FREE while never compromising on quality.</li>
          <li>Free Certificates for course completion with extreme Rewards!</li>
          <li>
            Explore a wide range of courses including Data Structures &
            Algorithms, Web Development, DevOps, Machine Learning, and more!
          </li>
        </ul>
      </div>
      <div id="imgc">
        <img src="./images/coffee-5132832_640.jpg" alt="" />
      </div>
    </section>




    <section id="list">
      <div class="collect">
        <a href="./fullstack.html">
          <img src="./Icons/design.png" alt="" />
          <h4>FullStack</h4>
        </a>
      </div>
      <div class="collect">
        <a href="./fullstack.html">
          <img src="./Icons/information-technology.png" alt="" />
          <h4>IT</h4>
        </a>
      </div>
      <div class="collect">
        <a href="./fullstack.html">
          <img src="./Icons/server.png" alt="" />
          <h4>Cloud Computing</h4>
        </a>
      </div>
      <div class="collect">
        <a href="./fullstack.html">
          <img src="./Icons/bullhorn.png" alt="" />
          <h4>Marketing</h4>
        </a>
      </div>
      <div class="collect" id="special">
        <img src="./Icons/button.png" alt="" />
        <h4>Many More To Come</h4>
      </div>
    </section>


    <section id="testimonials">
      <h1>Testimonials</h1>
      <div id="cards">
        <div class="card">
          <div class="card-upper">
            <img src="./Icons/boy.png" alt="">
            <div class="part">
              <h5>Steve Bob</h5>
              <p>Marketing Manager</p>
            </div>
          </div>
          <div class="card-lower">
            <p>You will find Everything to learn any skills and to check them whether you are learning them or
              not</p>
          </div>
        </div>
        <div class="card">
          <div class="card-upper">
            <img src="./Icons/happy.png" alt="">
            <div class="part">
              <h5>Ross Taylor</h5>
              <p>Senior Engineer</p>
            </div>
          </div>
          <div class="card-lower">
            <p>It is a Website where you can find community of your type which help you to grow more precisely
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-upper">
            <img src="./Icons/woman.png" alt="">
            <div class="part">
              <h5>Susan Yates</h5>
              <p>Product Manager</p>
            </div>
          </div>
          <div class="card-lower">
            <p>It is a great website which helps to learn what you want to by keeping your progress</p>
          </div>
        </div>
      </div>
    </section>



    <footer>
      <h4>Share With your Friends!!!</h4>
    </footer>
</body>

</html>