@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}
body{
    font-family: 'Bricolage Grotesque', sans-serif;
}
/* Introduction */
#intro{
    text-align: center;
    background-color: #191d36;
    padding: 50px;
}
#intro h1{
    font-size: 4rem;
}
#intro h4{
    font-size: 1.5rem;
}


/* About */
#about{
    background: #504099;
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
#about #img{
    flex: 1;
}
#about #ab{
    flex: 1;
}
#ab h1{
    font-size: 3.5rem;
}
#ab li{
    font-size: 2.4rem;
    line-height: 1.1;
    padding: 10px 0px;
}


/* Doubt */
#doubt{
    background: #504099;
    padding: 50px;
}
#doubt h1{
    font-size: 3rem;
    padding-bottom: 20px;
}
#doubt .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container .box{
    text-align: center;
    border: 1px solid black;
    flex: 1;
    margin: 8px;
    padding: 10px;
    border-radius: 18px;
    background: linear-gradient(to right, #252B48, #445069);
}
.container .box h3{
    font-size: 2rem;
}
.container .box h5{
    font-size: 1.4rem;
}



/* Companies */
#companies{
    background: #313866;
    padding: 50px;
}
#companies h1{
    font-size: 3rem;
    text-align: center;
    padding: 20px;
}
#pan{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
#pan .panel{
    flex: 1;
    border: 2px solid white;
    margin: 8px;
    text-align: center;
    background: linear-gradient(to right, #F8F0E5, #DAC0A3);
    border-radius: 5px;
}



/* Courses */
#courses{
    background: #504099;
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
#courses #imgc{
    flex: 1;
}
#courses #co{
    flex: 1;
}
#co h1{
    font-size: 3.5rem;
}
#co li{
    font-size: 2.4rem;
    line-height: 1.1;
    padding: 10px 10px;
}


/* list */
#list{
    background: #504099;
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
}
.collect {
    margin: 20px;
    text-align: center;
    border: 1px solid lightblue;
    flex: 1;
    background: linear-gradient(to right, #445069, #252B48);
    border-radius: 20px;
    cursor: pointer;
    padding: 20px;
}
.collect h4{
    font-size: 1.2rem;
}
.collect a {
    text-decoration: none;
}
.collect:hover {
    background: lightblue;
}
#special{
    opacity: 0.7;
    cursor: initial;
}
#special:hover{
    background: linear-gradient(to right, #445069, #252B48);
}



/* testimonials */
#testimonials {
    background: #313866;
}

#testimonials h1 {
    padding: 1rem;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 1rem;
}
#cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    margin: 10px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    background: linear-gradient(to right, #9ED2BE, #7EAA92);
}
.card-upper {
    display: flex;
    align-items: center;
}
.card-upper h5{
    font-size: 1.3rem;
}
.card-lower p {
    padding: 12px;
    font-size: 1.1rem;
}


/* footer */
footer{
    background: #445069;
    text-align: center;
}
footer h4{
    padding: 5px;
}